.radar-identifyer{
  font-size: x-large
}
.radar-component {
  margin: 1rem;
  .knowled-area {
    display: flex;
    align-items: flex-end;
    padding: 0 4px;
    margin-top: 8px;
    justify-content: space-between;
    border-bottom: 1px solid black;

    *{
      margin: 0;
    }
  }
}
