<button class="button" routerLink="/users/new">New user</button>
<div class="all-users">
  <mat-card class="user-card" *ngFor="let user of users$ | async">
    <mat-card-header class="header">
      <mat-card-title>
        {{ user.role.name
        }}<span class="role">
          {{ user.role.role }}
        </span>
      </mat-card-title>

      <div class="add-radar-icon">
        <div class="vertical-line"></div>
        <div class="horizontal-line"></div>
      </div>
    </mat-card-header>
    <mat-card-content>
      {{ user.role.email }}
    </mat-card-content>
  </mat-card>
</div>
