form {
    margin: 1rem;
    display: flex;
    flex-direction: column;
  }

  h1 {
    margin: 2rem auto;
    font-weight: bold;
  }

  .form-field {
    margin: 0 auto;
    width: 40%;
  }

  .button-group {
    margin: 0 auto;
    display: inline;
  }


.button {
  border: none;
  margin: 1rem 3rem;
  padding: 0.8rem 2rem;
  font-size: larger;
  border-radius: 0.25rem;
  background-color: plum;
  color: whitesmoke;
  box-shadow: 1px 1px 5px #0000002e;
  &:hover {
    background-color: whitesmoke;
    border: 1px solid plum;
    color: black;
  }
  &:active {
    background-color: plum;
    border: 1px solid purple;
  }
}
