.radar-list-component {
  height: auto;
  width: 100%;
  padding: 0 3rem;
  box-sizing: border-box;
  h2{
    font-size: xx-large;
  }
  .radars-cards {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    .grid-tile {
      background-color: rgba(221, 160, 221, 0.44);
      &:hover{
        background-color: plum;
      }
      .radar-card-content {
        display: flex;
        justify-content: space-between;
        .approval-level {
          margin-left: auto;
        }
      }
    }
  }
}
