.all-form-component {
  width: 100%;
  // height: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  .radar-form {
    width: 70vw;
  }
  .radar-form-content {
    margin-top: 1rem;
    .radar-form-mat {
      margin-top: 0.5rem;
    }
  }
}
.form-input {
  display: block;
  width: 100%;
}
.add-radar-icon {
  background-color: plum;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  position: absolute;
  right: 1rem;
  overflow: hidden;
  border: 1px solid rgb(118, 140, 255);
  box-shadow: 0px 2px 5px grey;
  &:hover {
    background-color: whitesmoke;
  }
  .horizontal-line {
    position: relative;
    width: 100%;
    height: 0.5rem;
    background-color: rgb(118, 140, 255);
    border-radius: 0.25rem;
    bottom: 1.2rem;
  }
  .vertical-line {
    border-radius: 0.25rem;
    position: relative;
    height: 100%;
    width: 0.5rem;
    background-color: rgb(118, 140, 255);

    left: 0.75rem;
  }
}
.remove-radar-icon {
  background-color: rgb(255, 0, 0);
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  position: absolute;
  right: 3rem;
  bottom: 0.5rem;
  overflow: hidden;
  border: 1px solid rgb(86, 0, 0);
  box-shadow: 0px 2px 5px grey;
  &:hover {
    background-color: whitesmoke;
  }
  .horizontal-line {
    position: relative;
    width: 100%;
    height: 0.5rem;
    background-color: rgb(255, 106, 190);
    border-radius: 0.25rem;
    top: 0.75rem;
  }
}
.button{
  border: none;
  margin: 1rem;
  padding: 0.5rem;
  font-size: larger;
  border-radius: 0.25rem;
  background-color: plum;
  color: whitesmoke;
  box-shadow: 1px 1px 5px #0000002e;
  &:hover{
    background-color: whitesmoke;
    border: 1px solid plum;
    color: black;
  }
  &:active{
    background-color: plum;
    border: 1px solid purple;
  }
}
